.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /*outline: 5px solid #ff88cc; rgba(0, 0, 0, 0.2)*/
    position: fixed;
    top: 20px;
    left: 0px;
    right: 20px;
    max-width: 40vw;
    min-width: 670px;
    border-radius: 40px;
    padding: 5px;
    margin-left: auto; /* Add margin on the left */
    margin-right: auto; /* Add margin on the right */
    z-index: 9;
}

.navbar a {
    position: relative;
    display: inline-block;
    color: rgb(2, 2, 2);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px ;
    padding-right: 26px;
    padding-left: 26px;
    text-decoration: none;
    border-radius: 40px;
    z-index: 1;
}
.navbar a:hover {
    background: rgb(229,214,99);
    background: linear-gradient(100deg, rgba(229,214,99,1) 28%, rgba(255,136,204,1) 53%);
    color: black;
}
.navbar a.active {
    background-color: #ff88cc;
    color: black;
}