body{
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
}
.container{
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.skill {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    overflow-x:hidden;
}
.skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}
.skill:before{
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    height: 5px;
    background:linear-gradient(100deg, rgba(229,214,99,1) 28%, rgba(255,136,204,1) 53%);;
    display: block;
    position: relative;
}

/* SKILL 1 */
.skill1{
    width: 0%;
    transition: width 700ms ease-in;
  
}
.skill-bar span{
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}
.skill-bar {
    position: relative;
  
}

.skill1 .skill-count1 {
    font-weight: bold;
    font-style: italic;
    right: 0;
}
.skilljava{
    background: white;
    width: 500px;
    padding-top: 2%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.skilldis{
    padding-left: 5%;
}
.skilldis{
    font-size: 1em;
}
.skilldis span{
    color: #ff88cc;
}

section{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
section:nth-child(even){
    background:#F1F1F1;
}
/*nav*/
.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;*/
    /*outline: 5px solid #ff88cc;*/
    position: fixed;
    top: 20px;
    left: 0px;
    right: 20px;
    max-width: 37vw;
    min-width: 560px;
    border-radius: 40px;
    padding: 0px;
    margin-left: auto; /* Add margin on the left */
    margin-right: auto; /* Add margin on the right */
    z-index: 9;
}

.navbar a {
    position: relative;
    display: inline-block;
    color: rgb(2, 2, 2);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px ;
    padding-right: 26px;
    padding-left: 26px;
    text-decoration: none;
    border-radius: 40px;
    z-index: 1;
}
.navbar a:hover {
    background: rgb(229,214,99);
    background: linear-gradient(100deg, rgba(229,214,99,1) 28%, rgba(255,136,204,1) 53%);
    color: black;
}
.navbar a.active {
    background-color: #ff88cc;
    color: black;
}
ul {
    font-size: 1em;
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #ff88cc;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  
