p{
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
}
h1{
    color: #ff88cc;
    text-shadow: 4px 4px 0px #000, 
    -4px 0 0px #000,
    7px 4px 0 rgba(229,214,99,1);
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 5px;
}
h2{
    
    font-family: "Roboto", sans-serif;
    color: rgba(229,214,99,1);
    font-size: 40px;
    font-weight: 500;

}
.content{
    margin-top: 20vh;
    margin-left: 10vh;
    margin-right: 10vh;
}
.sub-content{
    text-align: center;
}
ul {
    list-style: none;
  }
  
  ul li::before {
    content: "\2022";
    color: #ff88cc;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  li{
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;  
  }
  span{
    color: rgba(229,214,99,1);
  }